{% extends 'inspector/base.html' %}

    
{% block content %}

    <div class="container-fluid py-4">
        <h4>Acknowledgements</h4>
        <div>
            <p>This tool is distributed under the GNU Affero General Public License v3.0 (AGPL-3.0).</p>
            

            <p>It was developed as part of the developers PhD research within the High-Performance and Automatic Computing Group at RWTH Aachen University and Umeå University.
            Financial support from the Deutsche Forschungsgemeinschaft (DFG, German Research Foundation) through grant IRTG 2379 is gratefully acknowledged.</p>

            <p>Computational resources provided by the Jülich Supercomputing Centre (JSC), Germany, and the High Performance Computing Center North (HPC2N), Sweden, which were used in the development of this application, are gratefully acknowledged.</p>
        </div>
    </div>

{% endblock content %}
