{% extends 'inspector/base.html' %}
{% import 'tvst-macros/datatables.html' as dt_macros %}
{% import 'tvst-macros/dataframes.html' as df_macros %}

    
{% block content %}
    <div class="container-fluid py-4">
        <h4>Facts Index</h4>
        {% call dt_macros.render_dt(
            table_id='runs_table',
            table_class='tvst-table display',
            page_length=5,
        ) %}
            <thead>
                <tr>
                    {% for col in col_schema %}
                    <th>{{ col.label }}</th>
                    {% endfor %}
                    <th></th>
                </tr>
                <tr>
                    {% for col in col_schema %}
                    <th><input type="text" data-col="{{ loop.index0 }}" placeholder="filter"></th>
                    {% endfor %}
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for row in records %}
                <tr>
                    {% for col in col_schema %}
                        {% if col.type == 'decimal' %}
                            <td>{{ row[col.id] | round(2) }}</td>
                        {% else %}
                            <td class="{{ col.id }}">{{ row[col.id] }}</td>
                        {% endif %}
                    {% endfor %}
                    <td>
                        <a href="{{ url_for('inspector.facts_algorithms', language=row['language'],
                            expr=row['expr'], cluster_name=row['cluster_name'],
                            arch=row['arch'], nthreads=row['nthreads'],
                            precision=row['precision'],
                            prob_size=row['prob_size']) }}" class="btn btn-secondary btn-sm">
                            show
                        </a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        {% endcall %}
    </div>

    <script>
        document.addEventListener("DOMContentLoaded", function () {
        const cells = document.querySelectorAll("td.prob_size");

        cells.forEach(td => {
            td.textContent = td.textContent
            .replace(/_eq_/g, "=")
            .replace(/\+/g, ", ");
        });
        });
    </script>
{% endblock content %}
