{% extends 'inspector/base.html' %}
{% import 'tvst-macros/datatables.html' as dt_macros %}
{% import 'tvst-macros/dataframes.html' as df_macros %}

    
{% block content %}
    <div class="container-fluid py-4">
        <h4>Experiments log</h4>
        {% call dt_macros.render_dt(
            table_id='runs_table',
            table_class='tvst-table display',
            page_length=5,
        ) %}
            {{ df_macros.render_df_with_filters(col_schema, records, round=2) }}
        {% endcall %}
    </div>
{% endblock content %}



    
    